name: Build WhereMyTunnels

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-windows:
    name: Windows
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Build
        run: |
          mkdir dist
          python -m pip install python_on_whales
          python build_scripts/build.py windows --output-path dist/wheremytunnels-windows-x86_64.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheremytunnels-windows-x86_64.exe
          path: dist/wheremytunnels-windows-x86_64.exe
          if-no-files-found: error

  build-linux:
    name: Linux (${{ matrix.libc }} / ${{ matrix.architecture }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - libc: "glibc-2.17"
            architecture: "x86_64"
            out_name: "wheremytunnels-linux-x86_64-glibc-2.17.bin"

          - libc: "musl-1.2"
            architecture: "x86_64"
            out_name: "wheremytunnels-linux-x86_64-musl-1.2.bin"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Build
        run: |
          mkdir -p dist
          python -m pip install python_on_whales
          python build_scripts/build.py linux \
            --libc "${{ matrix.libc }}" \
            --architecture "${{ matrix.architecture }}" \
            --output-path "dist/${{ matrix.out_name }}"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.out_name }}
          path: dist/${{ matrix.out_name }}
          if-no-files-found: error
